{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Industry & Industry Association API Service",
        "description": " 'It is a Industry & Industry Association api service' ",
        "termsOfService": "",
        "contact": {},
        "license": {
            "name": "MIT"
        }
    },
    "servers": [
        {
            "url": "http://nise-industry.softbd/api/v1"
        },
        {
            "url": "http://localhost:8002/api/v1"
        },
        {
            "url": "https://org.bus-staging.softbdltd.com/api/v1"
        },
        {
            "url": "http://organization.local:8010/api/v1"
        },
        {
            "url": "http://localhost:8000/api/v1"
        },
        {
            "url": "http://localhost:8003/api/v1"
        },
        {
            "url": "https://api.bus.softbd.xyz/org/api/v1"
        },
        {
            "url": "http://nise3-organization.asm/api/v1"
        }
    ],
    "security": [
        {
            "User-Token": []
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Industry & Industry Association Service Information",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "service_name": "NISE-3 Organization Management API Service",
                                    "service_version": "V1",
                                    "lumen_version": "Lumen (8.2.4) (Laravel Components ^8.0)",
                                    "module_list": [
                                        "OrganizationType",
                                        "Organization",
                                        "RankType",
                                        "Rank",
                                        "Service",
                                        "JobSector",
                                        "Occupation",
                                        "OrganizationUnitType",
                                        "OrganizationUnit",
                                        "organizationUnitService",
                                        "HumanResource",
                                        "HumanResourceTemplate"
                                    ],
                                    "description": [
                                        "It is a organization management api service that manages services related to organization"
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "APi info"
                ]
            }
        },
        "/industry-association-registration": {
            "post": {
                "summary": "Register an industry association",
                "description": "API endpoint to register a industry association.A successful request response will show 201 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/industryAssociationRegistration"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successfull",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "IndustryAssociation has been Created Successfully",
                                        "query_time": 1
                                    },
                                    "data": {
                                        "industry_association_trade_id": "1",
                                        "title_en": null,
                                        "title": "NewTitle",
                                        "trade_number": "33",
                                        "loc_division_id": "1",
                                        "loc_district_id": "1",
                                        "loc_upazila_id": null,
                                        "name_of_the_office_head": "Spiderman",
                                        "name_of_the_office_head_en": null,
                                        "name_of_the_office_head_designation": "California",
                                        "name_of_the_office_head_designation_en": null,
                                        "address": null,
                                        "address_en": null,
                                        "mobile": "01778899889",
                                        "email": "mm@gmail.com",
                                        "contact_person_name": "WhoRu",
                                        "contact_person_name_en": null,
                                        "contact_person_mobile": "01889987654",
                                        "contact_person_email": "rr@gmail.com",
                                        "contact_person_designation": "Cordoba",
                                        "contact_person_designation_en": null,
                                        "row_status": "2",
                                        "updated_at": "2021-11-28T07:30:27.000000Z",
                                        "created_at": "2021-11-28T07:30:27.000000Z",
                                        "id": 12
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Industry Association Registration"
                ]
            }
        },
        "/industry-association-profile-update": {
            "put": {
                "tags": [
                    "Industry Association Profile"
                ],
                "summary": "Update an industry association admin profile ",
                "description": "An API endpoint to update  an industry association admin profile ",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/IndustryAssociationAdmin"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "industry_association_trade_id": 1,
                                        "title": "NewBuddy",
                                        "title_en": null,
                                        "loc_division_id": "2",
                                        "loc_district_id": "2",
                                        "loc_upazila_id": null,
                                        "location_latitude": null,
                                        "location_longitude": null,
                                        "google_map_src": null,
                                        "address": null,
                                        "address_en": null,
                                        "country": "BD",
                                        "phone_code": "880",
                                        "mobile": "01787992785",
                                        "email": "lrunte@jacobson.net",
                                        "fax_no": null,
                                        "trade_number": "eos",
                                        "name_of_the_office_head": "AtHome",
                                        "name_of_the_office_head_en": null,
                                        "name_of_the_office_head_designation": "Hanna",
                                        "name_of_the_office_head_designation_en": null,
                                        "contact_person_name": "Boston",
                                        "contact_person_name_en": null,
                                        "contact_person_mobile": "01776469819",
                                        "contact_person_email": "colby.predovic@example.org",
                                        "contact_person_designation": "LucoMatrix",
                                        "contact_person_designation_en": null,
                                        "logo": "ThereIsMyLogO",
                                        "domain": "https://www.hammes.com",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-12-19T07:49:58.000000Z",
                                        "updated_at": "2021-12-21T10:58:12.000000Z",
                                        "deleted_at": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "IndustryAssociation admin updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/industry-association-profile": {
            "get": {
                "tags": [
                    "Industry Association Profile"
                ],
                "summary": "Get industry association admin profile",
                "description": "An API endpoint to get  an industry association admin profile ",
                "responses": {
                    "200": {
                        "description": "successfull",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "industry_association_trade_id": 1,
                                        "title": "Medhurst, Bogan and Leuschke",
                                        "title_en": "Medhurst, Bogan and Leuschke",
                                        "loc_division_id": 3,
                                        "loc_district_id": 18,
                                        "loc_upazila_id": null,
                                        "location_latitude": "90.399482",
                                        "location_longitude": "90.399482",
                                        "google_map_src": null,
                                        "address": "9197 Carroll Ville\nPort Pamela, MS 27840-1808",
                                        "address_en": "9197 Carroll Ville\nPort Pamela, MS 27840-1808",
                                        "country": "BD",
                                        "phone_code": "880",
                                        "mobile": "01787992785",
                                        "email": "lrunte@jacobson.net",
                                        "fax_no": null,
                                        "trade_number": "eos",
                                        "name_of_the_office_head": "Shaina Volkman",
                                        "name_of_the_office_head_en": "Shaina Volkman",
                                        "name_of_the_office_head_designation": "CEO",
                                        "name_of_the_office_head_designation_en": "CEO",
                                        "contact_person_name": "Duncan Bode",
                                        "contact_person_name_en": "Duncan Bode",
                                        "contact_person_mobile": "01776469819",
                                        "contact_person_email": "colby.predovic@example.org",
                                        "contact_person_designation": "Fiber Product Cutting Machine Operator",
                                        "contact_person_designation_en": "Fiber Product Cutting Machine Operator",
                                        "logo": "logo.jpg",
                                        "domain": "https://www.hammes.com",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-12-19T07:49:58.000000Z",
                                        "updated_at": "2021-12-19T07:49:58.000000Z",
                                        "deleted_at": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/industry-association-registration-approval/{industryAssociationId}": {
            "put": {
                "summary": "Approve a industry association pending registration request",
                "description": "API endpoint to approve a registration by an industry association.A successful request response will show 201 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/industryAssociationId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successfull",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "IndustryAssociation Registration  approved successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Industry Association Registration"
                ]
            }
        },
        "/industry-association-registration-rejection/{industryAssociationId}": {
            "put": {
                "summary": "Approve a industry association pending registration request",
                "description": "API endpoint to reject a registration by an industry association.A successful request response will show 201 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/industryAssociationId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successfull",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "IndustryAssociation Registration  rejected successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Industry Association Registration"
                ]
            }
        },
        "/organization-registration": {
            "post": {
                "summary": "Register Organization",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/organizationRegister"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Register an organization",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationRegister"
                                },
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Organization has been Created Successfully",
                                        "query_time": 8
                                    },
                                    "data": {
                                        "title": "Randy Blythe",
                                        "date_of_establishment": "2021-09-09",
                                        "organization_type_id": "2",
                                        "email": "avaaaaaaa@gmail.com",
                                        "mobile": "01779900909",
                                        "contact_person_mobile": "01779900907",
                                        "name_of_the_office_head": "Karmanaraiyan",
                                        "contact_person_name": "n0obiedobiedoo",
                                        "contact_person_designation": "ddfdfdf",
                                        "contact_person_email": "84@gmail.com",
                                        "loc_division_id": "1",
                                        "loc_district_id": "1",
                                        "address": "Dhaka",
                                        "updated_at": "2021-12-21T10:27:58.000000Z",
                                        "created_at": "2021-12-21T10:27:58.000000Z",
                                        "id": 10
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Organization Registration"
                ]
            }
        },
        "/organization-types": {
            "get": {
                "summary": "get_list",
                "description": " API endpoint to get the list of organization types.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/row_status_optional"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/title_en_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_optional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationType"
                                },
                                "example": {
                                    "current_page": 1,
                                    "total_page": 1,
                                    "page_size": 10,
                                    "total": 2,
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "id": 1,
                                            "title_en": "Government org",
                                            "title": "Government org",
                                            "is_government": 1,
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-08-19T09:11:39.000000Z",
                                            "updated_at": "2021-08-19T09:11:39.000000Z"
                                        },
                                        {
                                            "id": 2,
                                            "title_en": "Private org",
                                            "title": "Private org",
                                            "is_government": 2,
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-08-19T09:11:39.000000Z",
                                            "updated_at": "2021-08-19T09:11:39.000000Z"
                                        }
                                    ],
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "OrganizationType"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to create an organization type.A successful request response will show 201 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/organizationType"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "create",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationType"
                                },
                                "example": {
                                    "data": {
                                        "title_en": "Private bank 2",
                                        "title": "বেসরকারি ব্যাংক",
                                        "is_government": 1,
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "updated_at": "2021-07-26T09:53:48.000000Z",
                                        "created_at": "2021-07-26T09:53:48.000000Z",
                                        "id": 1
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Organization type added successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "OrganizationType"
                ]
            }
        },
        "/organization-types/{organizationTypeId}": {
            "get": {
                "summary": "get_one",
                "description": " API endpoint to get the specified organization type.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/organizationTypeId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationType"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "Government org",
                                        "title": "সরকারি",
                                        "is_government": 1,
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-08-22T12:10:22.000000Z",
                                        "updated_at": "2021-08-22T12:10:22.000000Z"
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "OrganizationType"
                ]
            },
            "put": {
                "summary": "update",
                "description": "API endpoint to update the specified  organization type.A successful request response will show 201 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/organizationTypeId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/organizationType"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "update",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organizationType"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "Goverment org",
                                        "title": "সরকারি",
                                        "is_government": 1,
                                        "row_status": 1,
                                        "created_at": "2021-07-26T09:53:48.000000Z",
                                        "updated_at": "2021-07-26T09:58:41.000000Z",
                                        "created_by": null,
                                        "updated_by": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "organization Type updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "OrganizationType"
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "API endpoint to delete the specified organization type.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/organizationTypeId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "delete",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Organization type deleted successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "OrganizationType"
                ]
            }
        },
        "/organizations": {
            "get": {
                "summary": "get list",
                "description": "API endpoint to get the list of organizations.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/organization_row_status"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/title_en_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_optional"
                    },
                    {
                        "$ref": "#/components/parameters/organization_type_id_optional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organization"
                                },
                                "example": {
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "id": 1,
                                            "title_en": "Collier-Jenkins",
                                            "title": "Collier-Jenkins",
                                            "date_of_establishment": "2020-09-09",
                                            "name_of_the_office_head": "Buford Kub III",
                                            "name_of_the_office_head_en": "Buford Kub III",
                                            "name_of_the_office_head_designation": "CEO",
                                            "name_of_the_office_head_designation_en": "CEO",
                                            "domain": "https://www.stokes.com",
                                            "fax_no": "(361) 784-3386",
                                            "mobile": "01750412487",
                                            "email": "ondricka.weldon@yundt.com",
                                            "contact_person_name": "Mr. Kristian Glover DDS",
                                            "contact_person_name_en": "Mr. Kristian Glover DDS",
                                            "contact_person_mobile": "01720148578",
                                            "contact_person_email": "squigley@example.com",
                                            "contact_person_designation": "Photoengraver",
                                            "contact_person_designation_en": "Photoengraver",
                                            "description": "Iure facilis aut suscipit officia.",
                                            "description_en": "Iure facilis aut suscipit officia.",
                                            "logo": "logo.jpg",
                                            "loc_division_id": 3,
                                            "loc_division_title_en": "Dhaka",
                                            "loc_division_title": "ঢাকা",
                                            "loc_district_id": 18,
                                            "loc_district_title_en": "DHAKA",
                                            "loc_district_title": "ঢাকা ",
                                            "loc_upazila_id": null,
                                            "loc_upazila_title_en": null,
                                            "loc_upazila_title": null,
                                            "organization_type_id": 3,
                                            "organization_type_title_en": "Public Corporation",
                                            "organization_type_title": "Public Corporation",
                                            "address": "1619 Garry Forest Suite 874\nPort Jade, NY 35079-8867",
                                            "address_en": "1619 Garry Forest Suite 874\nPort Jade, NY 35079-8867",
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-12-19T07:49:59.000000Z",
                                            "updated_at": "2021-12-19T07:49:59.000000Z"
                                        }
                                    ],
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to create a organization.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/organizationStore"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "create",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organization"
                                },
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Organization has been Created Successfully",
                                        "query_time": 10
                                    },
                                    "data": {
                                        "organization_type_id": "2",
                                        "date_of_establishment": "2020-09-09",
                                        "title": "Randy Blythe",
                                        "loc_division_id": "1",
                                        "loc_district_id": "1",
                                        "address": "Dhaka",
                                        "mobile": "01779900909",
                                        "email": "aa@gmail.com",
                                        "name_of_the_office_head": "Karmanaraiyan",
                                        "contact_person_name": "n0obiedobiedoo",
                                        "contact_person_mobile": "01779900909",
                                        "contact_person_email": "44@gmail.com",
                                        "contact_person_designation": "ddfdfdf",
                                        "updated_at": "2021-12-21T10:22:14.000000Z",
                                        "created_at": "2021-12-21T10:22:14.000000Z",
                                        "id": 9
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ]
            }
        },
        "/organizations/{organizationId}": {
            "get": {
                "summary": "get one",
                "description": "API endpoint to get the specified organization.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/organizationId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organization"
                                },
                                "example": {
                                    "data": {
                                        "id": 10,
                                        "title_en": null,
                                        "title": "Randy Blythe",
                                        "date_of_establishment": "2021-09-09",
                                        "name_of_the_office_head": "Karmanaraiyan",
                                        "name_of_the_office_head_en": null,
                                        "name_of_the_office_head_designation": null,
                                        "name_of_the_office_head_designation_en": null,
                                        "domain": null,
                                        "fax_no": null,
                                        "mobile": "01779900909",
                                        "email": "avaaaaaaa@gmail.com",
                                        "contact_person_name": "n0obiedobiedoo",
                                        "contact_person_name_en": null,
                                        "contact_person_mobile": "01779900907",
                                        "contact_person_email": "84@gmail.com",
                                        "contact_person_designation": "ddfdfdf",
                                        "contact_person_designation_en": null,
                                        "description": null,
                                        "description_en": null,
                                        "logo": null,
                                        "loc_division_id": 1,
                                        "loc_division_title_en": "Barisal",
                                        "loc_division_title": "বরিশাল",
                                        "loc_district_id": 1,
                                        "loc_district_title_en": "BARGUNA",
                                        "loc_district_title": "বরগুনা",
                                        "loc_upazila_id": null,
                                        "loc_upazila_title_en": null,
                                        "loc_upazila_title": null,
                                        "location_latitude": null,
                                        "location_longitude": null,
                                        "google_map_src": null,
                                        "organization_type_id": 2,
                                        "organization_type_title_en": "Private Organization",
                                        "organization_type_title": "Private Organization",
                                        "address": "Dhaka",
                                        "address_en": null,
                                        "row_status": 2,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-12-21T10:27:58.000000Z",
                                        "updated_at": "2021-12-21T10:27:58.000000Z"
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ]
            },
            "put": {
                "summary": "update",
                "description": "API endpoint to get the specified organization.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/organizationId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/organization"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "update",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organization"
                                },
                                "example": {
                                    "data": {
                                        "id": 10,
                                        "organization_type_id": "2",
                                        "title": "Randy Blythe",
                                        "title_en": null,
                                        "date_of_establishment": "2021-09-09",
                                        "loc_division_id": "1",
                                        "loc_district_id": "1",
                                        "loc_upazila_id": null,
                                        "location_latitude": null,
                                        "location_longitude": null,
                                        "google_map_src": null,
                                        "address": "Dhaka",
                                        "address_en": null,
                                        "country": "BD",
                                        "phone_code": "880",
                                        "mobile": "01779900909",
                                        "email": "avaaaaaaa@gmail.com",
                                        "fax_no": null,
                                        "name_of_the_office_head": "Karmanaraiyan",
                                        "name_of_the_office_head_en": null,
                                        "name_of_the_office_head_designation": null,
                                        "name_of_the_office_head_designation_en": null,
                                        "contact_person_name": "n0obiedobiedoo",
                                        "contact_person_name_en": null,
                                        "contact_person_mobile": "01779900907",
                                        "contact_person_email": "84@gmail.com",
                                        "contact_person_designation": "ddfdfdf",
                                        "contact_person_designation_en": null,
                                        "description": null,
                                        "description_en": null,
                                        "logo": null,
                                        "domain": null,
                                        "row_status": 2,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-12-21T10:27:58.000000Z",
                                        "updated_at": "2021-12-21T10:27:58.000000Z",
                                        "deleted_at": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Organization updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ]
            },
            "delete": {
                "summary": "delete",
                "description": " API endpoint to delete the specified organization. A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/organizationId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "delete",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/organization"
                                },
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Organization deleted successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "organization"
                ]
            }
        },
        "/organization-profile": {
            "get": {
                "tags": [
                    "organization profile"
                ],
                "summary": "Get an organization profile",
                "description": "API endpoint to update an organization admin profile.A successful request response will show 200 HTTP status code",
                "responses": {
                    "200": {
                        "description": "successfull",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "id": 2,
                                        "title_en": "Grady Group",
                                        "title": "Grady Group",
                                        "date_of_establishment": null,
                                        "name_of_the_office_head": "John Macejkovic DVM",
                                        "name_of_the_office_head_en": "John Macejkovic DVM",
                                        "name_of_the_office_head_designation": "CEO",
                                        "name_of_the_office_head_designation_en": "CEO",
                                        "domain": "https://www.moen.com",
                                        "fax_no": "(801) 360-9436",
                                        "mobile": "01762244320",
                                        "email": "kaleb.predovic@bogisich.com",
                                        "contact_person_name": "Lew Kulas",
                                        "contact_person_name_en": "Lew Kulas",
                                        "contact_person_mobile": "01701064262",
                                        "contact_person_email": "kunde.geraldine@example.com",
                                        "contact_person_designation": "Biological Scientist",
                                        "contact_person_designation_en": "Biological Scientist",
                                        "description": "Officia impedit ea eveniet deleniti consectetur illum doloremque.",
                                        "description_en": "Officia impedit ea eveniet deleniti consectetur illum doloremque.",
                                        "logo": "logo.jpg",
                                        "loc_division_id": 2,
                                        "loc_division_title_en": "Chittagong",
                                        "loc_division_title": "চট্টগ্রাম",
                                        "loc_district_id": 10,
                                        "loc_district_title_en": "CHITTAGONG",
                                        "loc_district_title": "চট্টগ্রাম",
                                        "loc_upazila_id": null,
                                        "loc_upazila_title_en": null,
                                        "loc_upazila_title": null,
                                        "location_latitude": "91.815526",
                                        "location_longitude": "91.815526",
                                        "google_map_src": null,
                                        "organization_type_id": 2,
                                        "organization_type_title_en": "Private Organization",
                                        "organization_type_title": "Private Organization",
                                        "address": "136 Idella Gardens Apt. 118\nNorth Deangelo, MI 36756",
                                        "address_en": "136 Idella Gardens Apt. 118\nNorth Deangelo, MI 36756",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-12-19T07:49:59.000000Z",
                                        "updated_at": "2021-12-19T07:49:59.000000Z"
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organization-profile-update": {
            "put": {
                "tags": [
                    "organization profile"
                ],
                "summary": "Update an organization admin profile",
                "description": "API endpoint to update an organization admin profile.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/organizationAdminProfile"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successfull",
                        "content": {
                            "application/x-www-form-urlencoded": {
                                "example": {
                                    "data": {
                                        "id": 2,
                                        "organization_type_id": 2,
                                        "title": "NewOldie",
                                        "title_en": null,
                                        "date_of_establishment": null,
                                        "loc_division_id": "2",
                                        "loc_district_id": "2",
                                        "loc_upazila_id": null,
                                        "location_latitude": null,
                                        "location_longitude": null,
                                        "google_map_src": null,
                                        "address": null,
                                        "address_en": null,
                                        "country": "BD",
                                        "phone_code": "880",
                                        "mobile": "01762244320",
                                        "email": "kaleb.predovic@bogisich.com",
                                        "fax_no": "(801) 360-9436",
                                        "name_of_the_office_head": "Head",
                                        "name_of_the_office_head_en": null,
                                        "name_of_the_office_head_designation": "sDASD",
                                        "name_of_the_office_head_designation_en": null,
                                        "contact_person_name": "ERWERWER",
                                        "contact_person_name_en": null,
                                        "contact_person_mobile": "01701064262",
                                        "contact_person_email": "kunde.geraldine@example.com",
                                        "contact_person_designation": "adSDsd",
                                        "contact_person_designation_en": null,
                                        "description": "Officia impedit ea eveniet deleniti consectetur illum doloremque.",
                                        "description_en": "Officia impedit ea eveniet deleniti consectetur illum doloremque.",
                                        "logo": "notNulllll",
                                        "domain": "https://www.moen.com",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-12-19T07:49:59.000000Z",
                                        "updated_at": "2021-12-21T10:45:14.000000Z",
                                        "deleted_at": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Organization admin profile updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rank-types": {
            "get": {
                "summary": "get_list",
                "description": "API endpoint to get the list of rank types.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/organization_id_optional"
                    },
                    {
                        "$ref": "#/components/parameters/row_status_optional"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/title_en_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_optional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rankType"
                                },
                                "example": {
                                    "organization_id": "1",
                                    "current_page": 1,
                                    "total_page": 1,
                                    "page_size": "10",
                                    "total": 3,
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "id": 1,
                                            "title_en": "Chief of Army Staff",
                                            "title": "Chief of Army Staff",
                                            "organization_id": 1,
                                            "organization_title_en": "Boyer PLC",
                                            "organization_title": "Boyer PLC",
                                            "description": "Qui non rerum vero ipsam nam tempore porro iusto sunt.",
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-08-30T05:56:15.000000Z",
                                            "updated_at": "2021-08-30T05:56:15.000000Z"
                                        }
                                    ],
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank-types"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to get the list of rank types.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/rankType"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "create",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rankType"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "title_en": "CEO",
                                            "title": "সি ই ও",
                                            "organization_id": "1",
                                            "description": "chief executive officer. Main and last step taker of organization.",
                                            "row_status": "1",
                                            "updated_at": "2021-08-11T08:41:09.000000Z",
                                            "created_at": "2021-08-11T08:41:09.000000Z",
                                            "id": 5
                                        }
                                    ],
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Rank Type added successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank-types"
                ]
            }
        },
        "/rank-types/{rankTypeId}": {
            "get": {
                "summary": "get_one",
                "description": "API endpoint to get a specified rank type.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/rankTypeId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rankType"
                                },
                                "example": {
                                    "data": {
                                        "id": 3,
                                        "title_en": "Infantry",
                                        "title": "Infantry",
                                        "description": "Facilis consectetur et et dolorum nemo eos numquam dolor quasi assumenda molestiae dolores repellendus maxime voluptatem amet nulla enim est est sapiente sit expedita odit illum sed atque eum aut laboriosam odit quis voluptas nam dolorem distinctio expedita incidunt in nostrum a porro similique in molestiae accusamus eos voluptatem facere.",
                                        "description_en": "Ut suscipit doloremque dolor laborum eligendi qui soluta ea voluptas officia a nulla doloribus et non qui explicabo quia est illo sit harum consequatur dolores voluptate praesentium ad optio quibusdam placeat reiciendis tempora at nemo nemo impedit rerum et voluptas asperiores beatae qui aspernatur voluptas cum et esse culpa molestiae.",
                                        "organization_id": 1,
                                        "organization_title_en": "Jacobson-Wyman",
                                        "organization_title": "Jacobson-Wyman",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-10-12T08:51:33.000000Z",
                                        "updated_at": "2021-10-12T08:51:33.000000Z"
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank-types"
                ]
            },
            "put": {
                "summary": "update",
                "description": "API endpoint to get a specified rank type.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/rankTypeId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/rankType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "get_one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rankType"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "Army Lieutenant",
                                        "title": "লেফট্যানেন্ট",
                                        "organization_title_en": "BDBL",
                                        "row_status": 1,
                                        "created_at": "2021-07-26T11:46:45.000000Z",
                                        "updated_at": "2021-07-26T11:46:45.000000Z"
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Rank Type updated successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank-types"
                ]
            },
            "delete": {
                "summary": "delete",
                "description": " API endpoint to get the list of rank types.A successful request response will show 200 HTTP status code",
                "operationId": "delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/rankTypeId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "delete",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Rank Type deleted successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank-types"
                ]
            }
        },
        "/ranks": {
            "get": {
                "summary": "get_list",
                "description": "API endpoint to get the list of ranks .A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/row_status_optional"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/title_en_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_optional"
                    },
                    {
                        "$ref": "#/components/parameters/organization_id_optional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rank"
                                },
                                "example": {
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "id": 1,
                                            "title_en": "জেনারেল",
                                            "title": "জেনারেল",
                                            "grade": "1",
                                            "display_order": 1,
                                            "organization_id": 1,
                                            "organization_title_en": "Boyer PLC",
                                            "organization_title": "Boyer PLC",
                                            "rank_type_id": 1,
                                            "rank_type_title_en": "Chief of Army Staff",
                                            "rank_type_title": "Chief of Army Staff",
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-08-30T05:56:15.000000Z",
                                            "updated_at": "2021-08-30T05:56:15.000000Z"
                                        }
                                    ],
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to create a Rank.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/rank"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "create",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rank"
                                },
                                "example": {
                                    "data": {
                                        "title_en": "abc",
                                        "title": "abc",
                                        "rank_type_id": "1",
                                        "grade": "0",
                                        "display_order": "1",
                                        "organization_id": "2",
                                        "updated_at": "2021-08-23T09:19:09.000000Z",
                                        "created_at": "2021-08-23T09:19:09.000000Z",
                                        "id": 55
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Rank added successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank"
                ]
            }
        },
        "/ranks/{rankId}": {
            "get": {
                "summary": "get_one",
                "description": "API endpoint to get the specified rank.A successful request response will show 200 HTTP status code",
                "operationId": "get_one1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/rankId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rank"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "জেনারেল",
                                        "title": "জেনারেল",
                                        "grade": "1",
                                        "display_order": 1,
                                        "organization_id": 1,
                                        "organization_title_en": "Boyer PLC",
                                        "organization_title": "Boyer PLC",
                                        "rank_type_id": 1,
                                        "rank_type_title_en": "Chief of Army Staff",
                                        "rank_type_title": "Chief of Army Staff",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-08-30T05:56:15.000000Z",
                                        "updated_at": "2021-08-30T05:56:15.000000Z"
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank"
                ]
            },
            "put": {
                "summary": "update",
                "description": "API endpoint to update the specified rank. A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/rankId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/rank"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "update",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rank"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "captain",
                                        "title": "ক্যাপ্টেন",
                                        "grade": "1",
                                        "order": 0,
                                        "organization_title_en": "BDBL",
                                        "rank_type_title_en": "CEO",
                                        "row_status": 1,
                                        "created_at": "2021-07-26T12:01:03.000000Z",
                                        "updated_at": "2021-07-26T12:01:03.000000Z"
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Rank updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank"
                ]
            },
            "delete": {
                "summary": "delete",
                "description": " API endpoint to delete the specified rank.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/rankId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "delete",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rank"
                                },
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Rank deleted successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "rank"
                ]
            }
        },
        "/job-sectors": {
            "get": {
                "summary": "get_list",
                "description": "API endpoint to get the list of job sectors.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/row_status_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_en_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_optional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobSector"
                                },
                                "example": {
                                    "current_page": 1,
                                    "total_page": 1,
                                    "page_size": 10,
                                    "total": 2,
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "id": 1,
                                            "title_en": "Insurance Underwriter",
                                            "title": "Insurance Underwriter",
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-08-22T12:10:28.000000Z",
                                            "updated_at": "2021-08-22T12:10:28.000000Z"
                                        },
                                        {
                                            "id": 2,
                                            "title_en": "Structural Metal Fabricator",
                                            "title": "Structural Metal Fabricator",
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-08-22T12:10:29.000000Z",
                                            "updated_at": "2021-08-22T12:10:29.000000Z"
                                        }
                                    ],
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobSectors"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to create of job sectors.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/jobSector"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "create",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobSector"
                                },
                                "example": {
                                    "data": {
                                        "title_en": "abc",
                                        "title": "abc",
                                        "updated_at": "2021-08-23T09:24:16.000000Z",
                                        "created_at": "2021-08-23T09:24:16.000000Z",
                                        "id": 4
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Job Sector added successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobSectors"
                ]
            }
        },
        "/job-sectors/{jobSectorId}": {
            "get": {
                "summary": "get_one",
                "description": "API endpoint to get a specified job sector.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/jobSectorId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobSector"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "abc",
                                        "title": "abc",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-08-22T12:10:28.000000Z",
                                        "updated_at": "2021-08-23T08:04:01.000000Z",
                                        "deleted_at": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Job Sector updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobSectors"
                ]
            },
            "put": {
                "summary": "update",
                "description": "API endpoint to get a specified job sector.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/jobSectorId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/jobSector"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobSector"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "abc",
                                        "title": "abc",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-08-22T12:10:28.000000Z",
                                        "updated_at": "2021-08-23T08:04:01.000000Z",
                                        "deleted_at": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Job Sector updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobSectors"
                ]
            },
            "delete": {
                "summary": "delete",
                "description": " API endpoint to delete the specified job sector.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/jobSectorId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "delete",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobSector"
                                },
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "JobSector deleted successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JobSectors"
                ]
            }
        },
        "/occupations": {
            "get": {
                "summary": "get_list",
                "description": "API endpoint to get the list of occupations.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/row_status_optional"
                    },
                    {
                        "name": "job_sector_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/title_en_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_optional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/occupation"
                                },
                                "example": {
                                    "current_page": 1,
                                    "total_page": 1,
                                    "page_size": "10",
                                    "total": 9,
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "id": 1,
                                            "title_en": "Alteration Tailor",
                                            "title": "Alteration Tailor",
                                            "job_sector_id": 1,
                                            "job_sector_title_en": "Copy Machine Operator",
                                            "job_sector_title": "Copy Machine Operator",
                                            "row_status": 1,
                                            "created_by": null,
                                            "updated_by": null,
                                            "created_at": "2021-08-30T05:56:20.000000Z",
                                            "updated_at": "2021-08-30T05:56:20.000000Z"
                                        }
                                    ],
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Occupation"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to get the list of occupations.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/occupation"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "create",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/occupation"
                                },
                                "example": {
                                    "data": {
                                        "title_en": "abc",
                                        "title": "abc",
                                        "job_sector_id": "1",
                                        "updated_at": "2021-08-23T07:34:46.000000Z",
                                        "created_at": "2021-08-23T07:34:46.000000Z",
                                        "id": 10
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Occupation added successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Occupation"
                ]
            }
        },
        "/occupations/{occupationId}": {
            "get": {
                "summary": "get_one",
                "description": "API endpoint to get an occupations.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/occupationId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/occupation"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "title_en": "Alteration Tailor",
                                        "title": "Alteration Tailor",
                                        "job_sector_id": 1,
                                        "job_sector_title_en": "Copy Machine Operator",
                                        "job_sector_title": "Copy Machine Operator",
                                        "row_status": 1,
                                        "created_by": null,
                                        "updated_by": null,
                                        "created_at": "2021-08-30T05:56:20.000000Z",
[...]
