/*
 * organization root
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.math.BigDecimal;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class HumanResourceTemplatesApi {
    private ApiClient localVarApiClient;

    public HumanResourceTemplatesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public HumanResourceTemplatesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for humanResourceTemplatesGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resource-templates";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourceTemplatesGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = humanResourceTemplatesGetCall(_callback);
        return localVarCall;

    }

    /**
     * get list
     * ###### API endpoint to get the list of organization unit types A successful request response will show 200 HTTP status code
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourceTemplatesGet() throws ApiException {
        humanResourceTemplatesGetWithHttpInfo();
    }

    /**
     * get list
     * ###### API endpoint to get the list of organization unit types A successful request response will show 200 HTTP status code
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourceTemplatesGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = humanResourceTemplatesGetValidateBeforeCall(null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * get list (asynchronously)
     * ###### API endpoint to get the list of organization unit types A successful request response will show 200 HTTP status code
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesGetAsync(final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourceTemplatesGetValidateBeforeCall(_callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourceTemplatesHumanResourceTemplatesIdDelete
     * @param humanResourceTemplatesId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdDeleteCall(Integer humanResourceTemplatesId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resource-templates/{humanResourceTemplatesId}"
            .replaceAll("\\{" + "humanResourceTemplatesId" + "\\}", localVarApiClient.escapeString(humanResourceTemplatesId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdDeleteValidateBeforeCall(Integer humanResourceTemplatesId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'humanResourceTemplatesId' is set
        if (humanResourceTemplatesId == null) {
            throw new ApiException("Missing the required parameter 'humanResourceTemplatesId' when calling humanResourceTemplatesHumanResourceTemplatesIdDelete(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdDeleteCall(humanResourceTemplatesId, _callback);
        return localVarCall;

    }

    /**
     * delete
     * ###### API endpoint to delete an organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourceTemplatesHumanResourceTemplatesIdDelete(Integer humanResourceTemplatesId) throws ApiException {
        humanResourceTemplatesHumanResourceTemplatesIdDeleteWithHttpInfo(humanResourceTemplatesId);
    }

    /**
     * delete
     * ###### API endpoint to delete an organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourceTemplatesHumanResourceTemplatesIdDeleteWithHttpInfo(Integer humanResourceTemplatesId) throws ApiException {
        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdDeleteValidateBeforeCall(humanResourceTemplatesId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * delete (asynchronously)
     * ###### API endpoint to delete an organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdDeleteAsync(Integer humanResourceTemplatesId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdDeleteValidateBeforeCall(humanResourceTemplatesId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourceTemplatesHumanResourceTemplatesIdGet
     * @param humanResourceTemplatesId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdGetCall(Integer humanResourceTemplatesId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resource-templates/{humanResourceTemplatesId}"
            .replaceAll("\\{" + "humanResourceTemplatesId" + "\\}", localVarApiClient.escapeString(humanResourceTemplatesId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdGetValidateBeforeCall(Integer humanResourceTemplatesId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'humanResourceTemplatesId' is set
        if (humanResourceTemplatesId == null) {
            throw new ApiException("Missing the required parameter 'humanResourceTemplatesId' when calling humanResourceTemplatesHumanResourceTemplatesIdGet(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdGetCall(humanResourceTemplatesId, _callback);
        return localVarCall;

    }

    /**
     * get one
     * ###### API endpoint to get a organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourceTemplatesHumanResourceTemplatesIdGet(Integer humanResourceTemplatesId) throws ApiException {
        humanResourceTemplatesHumanResourceTemplatesIdGetWithHttpInfo(humanResourceTemplatesId);
    }

    /**
     * get one
     * ###### API endpoint to get a organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourceTemplatesHumanResourceTemplatesIdGetWithHttpInfo(Integer humanResourceTemplatesId) throws ApiException {
        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdGetValidateBeforeCall(humanResourceTemplatesId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * get one (asynchronously)
     * ###### API endpoint to get a organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdGetAsync(Integer humanResourceTemplatesId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdGetValidateBeforeCall(humanResourceTemplatesId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourceTemplatesHumanResourceTemplatesIdPut
     * @param humanResourceTemplatesId  (required)
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdPutCall(Integer humanResourceTemplatesId, Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resource-templates/{humanResourceTemplatesId}"
            .replaceAll("\\{" + "humanResourceTemplatesId" + "\\}", localVarApiClient.escapeString(humanResourceTemplatesId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (organizationId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_id", organizationId));
        }

        if (titleEn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_en", titleEn));
        }

        if (titleBn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_bn", titleBn));
        }

        if (parentId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("parent_id", parentId));
        }

        if (rankId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rank_id", rankId));
        }

        if (displayOrder != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("display_order", displayOrder));
        }

        if (isDesignation != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("is_designation", isDesignation));
        }

        if (skillIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("skill_ids", skillIds));
        }

        if (organizationUnitTypeId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_unit_type_id", organizationUnitTypeId));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdPutValidateBeforeCall(Integer humanResourceTemplatesId, Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'humanResourceTemplatesId' is set
        if (humanResourceTemplatesId == null) {
            throw new ApiException("Missing the required parameter 'humanResourceTemplatesId' when calling humanResourceTemplatesHumanResourceTemplatesIdPut(Async)");
        }
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling humanResourceTemplatesHumanResourceTemplatesIdPut(Async)");
        }
        
        // verify the required parameter 'titleEn' is set
        if (titleEn == null) {
            throw new ApiException("Missing the required parameter 'titleEn' when calling humanResourceTemplatesHumanResourceTemplatesIdPut(Async)");
        }
        
        // verify the required parameter 'titleBn' is set
        if (titleBn == null) {
            throw new ApiException("Missing the required parameter 'titleBn' when calling humanResourceTemplatesHumanResourceTemplatesIdPut(Async)");
        }
        
        // verify the required parameter 'displayOrder' is set
        if (displayOrder == null) {
            throw new ApiException("Missing the required parameter 'displayOrder' when calling humanResourceTemplatesHumanResourceTemplatesIdPut(Async)");
        }
        
        // verify the required parameter 'isDesignation' is set
        if (isDesignation == null) {
            throw new ApiException("Missing the required parameter 'isDesignation' when calling humanResourceTemplatesHumanResourceTemplatesIdPut(Async)");
        }
        
        // verify the required parameter 'organizationUnitTypeId' is set
        if (organizationUnitTypeId == null) {
            throw new ApiException("Missing the required parameter 'organizationUnitTypeId' when calling humanResourceTemplatesHumanResourceTemplatesIdPut(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdPutCall(humanResourceTemplatesId, organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds, _callback);
        return localVarCall;

    }

    /**
     * update
     * ###### API endpoint to update an existing organization unit types   A successful request response will show 201 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourceTemplatesHumanResourceTemplatesIdPut(Integer humanResourceTemplatesId, Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds) throws ApiException {
        humanResourceTemplatesHumanResourceTemplatesIdPutWithHttpInfo(humanResourceTemplatesId, organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds);
    }

    /**
     * update
     * ###### API endpoint to update an existing organization unit types   A successful request response will show 201 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourceTemplatesHumanResourceTemplatesIdPutWithHttpInfo(Integer humanResourceTemplatesId, Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds) throws ApiException {
        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdPutValidateBeforeCall(humanResourceTemplatesId, organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * update (asynchronously)
     * ###### API endpoint to update an existing organization unit types   A successful request response will show 201 HTTP status code
     * @param humanResourceTemplatesId  (required)
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesHumanResourceTemplatesIdPutAsync(Integer humanResourceTemplatesId, Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourceTemplatesHumanResourceTemplatesIdPutValidateBeforeCall(humanResourceTemplatesId, organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourceTemplatesPost
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesPostCall(Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resource-templates";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (organizationId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_id", organizationId));
        }

        if (titleEn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_en", titleEn));
        }

        if (titleBn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_bn", titleBn));
        }

        if (parentId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("parent_id", parentId));
        }

        if (rankId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rank_id", rankId));
        }

        if (displayOrder != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("display_order", displayOrder));
        }

        if (isDesignation != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("is_designation", isDesignation));
        }

        if (skillIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("skill_ids", skillIds));
        }

        if (organizationUnitTypeId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_unit_type_id", organizationUnitTypeId));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourceTemplatesPostValidateBeforeCall(Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling humanResourceTemplatesPost(Async)");
        }
        
        // verify the required parameter 'titleEn' is set
        if (titleEn == null) {
            throw new ApiException("Missing the required parameter 'titleEn' when calling humanResourceTemplatesPost(Async)");
        }
        
        // verify the required parameter 'titleBn' is set
        if (titleBn == null) {
            throw new ApiException("Missing the required parameter 'titleBn' when calling humanResourceTemplatesPost(Async)");
        }
        
        // verify the required parameter 'displayOrder' is set
        if (displayOrder == null) {
            throw new ApiException("Missing the required parameter 'displayOrder' when calling humanResourceTemplatesPost(Async)");
        }
        
        // verify the required parameter 'isDesignation' is set
        if (isDesignation == null) {
            throw new ApiException("Missing the required parameter 'isDesignation' when calling humanResourceTemplatesPost(Async)");
        }
        
        // verify the required parameter 'organizationUnitTypeId' is set
        if (organizationUnitTypeId == null) {
            throw new ApiException("Missing the required parameter 'organizationUnitTypeId' when calling humanResourceTemplatesPost(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourceTemplatesPostCall(organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds, _callback);
        return localVarCall;

    }

    /**
     * create
     * ###### API endpoint to create a organization unit types  A successful request response will show 201 HTTP status code
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourceTemplatesPost(Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds) throws ApiException {
        humanResourceTemplatesPostWithHttpInfo(organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds);
    }

    /**
     * create
     * ###### API endpoint to create a organization unit types  A successful request response will show 201 HTTP status code
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourceTemplatesPostWithHttpInfo(Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds) throws ApiException {
        okhttp3.Call localVarCall = humanResourceTemplatesPostValidateBeforeCall(organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * create (asynchronously)
     * ###### API endpoint to create a organization unit types  A successful request response will show 201 HTTP status code
     * @param organizationId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param organizationUnitTypeId  (required)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param skillIds  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourceTemplatesPostAsync(Integer organizationId, String titleEn, String titleBn, BigDecimal displayOrder, BigDecimal isDesignation, BigDecimal organizationUnitTypeId, BigDecimal parentId, BigDecimal rankId, BigDecimal skillIds, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourceTemplatesPostValidateBeforeCall(organizationId, titleEn, titleBn, displayOrder, isDesignation, organizationUnitTypeId, parentId, rankId, skillIds, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
