/*
 * organization root
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;



import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class HumanResourcesApi {
    private ApiClient localVarApiClient;

    public HumanResourcesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public HumanResourcesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for humanResourcesGet
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesGetCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resources";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourcesGetValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = humanResourcesGetCall(_callback);
        return localVarCall;

    }

    /**
     * get list
     * ###### API endpoint to get the list of organization unit types A successful request response will show 200 HTTP status code
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourcesGet() throws ApiException {
        humanResourcesGetWithHttpInfo();
    }

    /**
     * get list
     * ###### API endpoint to get the list of organization unit types A successful request response will show 200 HTTP status code
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourcesGetWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = humanResourcesGetValidateBeforeCall(null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * get list (asynchronously)
     * ###### API endpoint to get the list of organization unit types A successful request response will show 200 HTTP status code
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get list </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesGetAsync(final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourcesGetValidateBeforeCall(_callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourcesHumanResourceIdDelete
     * @param humanResourceId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesHumanResourceIdDeleteCall(Integer humanResourceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resources/{humanResourceId}"
            .replaceAll("\\{" + "humanResourceId" + "\\}", localVarApiClient.escapeString(humanResourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourcesHumanResourceIdDeleteValidateBeforeCall(Integer humanResourceId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'humanResourceId' is set
        if (humanResourceId == null) {
            throw new ApiException("Missing the required parameter 'humanResourceId' when calling humanResourcesHumanResourceIdDelete(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourcesHumanResourceIdDeleteCall(humanResourceId, _callback);
        return localVarCall;

    }

    /**
     * delete
     * ###### API endpoint to delete an organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourcesHumanResourceIdDelete(Integer humanResourceId) throws ApiException {
        humanResourcesHumanResourceIdDeleteWithHttpInfo(humanResourceId);
    }

    /**
     * delete
     * ###### API endpoint to delete an organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourcesHumanResourceIdDeleteWithHttpInfo(Integer humanResourceId) throws ApiException {
        okhttp3.Call localVarCall = humanResourcesHumanResourceIdDeleteValidateBeforeCall(humanResourceId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * delete (asynchronously)
     * ###### API endpoint to delete an organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> delete </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesHumanResourceIdDeleteAsync(Integer humanResourceId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourcesHumanResourceIdDeleteValidateBeforeCall(humanResourceId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourcesHumanResourceIdGet
     * @param humanResourceId  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesHumanResourceIdGetCall(Integer humanResourceId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resources/{humanResourceId}"
            .replaceAll("\\{" + "humanResourceId" + "\\}", localVarApiClient.escapeString(humanResourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourcesHumanResourceIdGetValidateBeforeCall(Integer humanResourceId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'humanResourceId' is set
        if (humanResourceId == null) {
            throw new ApiException("Missing the required parameter 'humanResourceId' when calling humanResourcesHumanResourceIdGet(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourcesHumanResourceIdGetCall(humanResourceId, _callback);
        return localVarCall;

    }

    /**
     * get one
     * ###### API endpoint to get a organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourcesHumanResourceIdGet(Integer humanResourceId) throws ApiException {
        humanResourcesHumanResourceIdGetWithHttpInfo(humanResourceId);
    }

    /**
     * get one
     * ###### API endpoint to get a organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourcesHumanResourceIdGetWithHttpInfo(Integer humanResourceId) throws ApiException {
        okhttp3.Call localVarCall = humanResourcesHumanResourceIdGetValidateBeforeCall(humanResourceId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * get one (asynchronously)
     * ###### API endpoint to get a organization unit type  A successful request response will show 200 HTTP status code
     * @param humanResourceId  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> get one </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesHumanResourceIdGetAsync(Integer humanResourceId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourcesHumanResourceIdGetValidateBeforeCall(humanResourceId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourcesHumanResourceIdPut
     * @param humanResourceId  (required)
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesHumanResourceIdPutCall(Integer humanResourceId, Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resources/{humanResourceId}"
            .replaceAll("\\{" + "humanResourceId" + "\\}", localVarApiClient.escapeString(humanResourceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (humanResourceTemplateId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("human_resource_template_id", humanResourceTemplateId));
        }

        if (organizationId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_id", organizationId));
        }

        if (organizationUnitId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_unit_id", organizationUnitId));
        }

        if (titleEn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_en", titleEn));
        }

        if (titleBn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_bn", titleBn));
        }

        if (parentId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("parent_id", parentId));
        }

        if (rankId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rank_id", rankId));
        }

        if (displayOrder != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("display_order", displayOrder));
        }

        if (isDesignation != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("is_designation", isDesignation));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourcesHumanResourceIdPutValidateBeforeCall(Integer humanResourceId, Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'humanResourceId' is set
        if (humanResourceId == null) {
            throw new ApiException("Missing the required parameter 'humanResourceId' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        
        // verify the required parameter 'organizationUnitId' is set
        if (organizationUnitId == null) {
            throw new ApiException("Missing the required parameter 'organizationUnitId' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        
        // verify the required parameter 'titleEn' is set
        if (titleEn == null) {
            throw new ApiException("Missing the required parameter 'titleEn' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        
        // verify the required parameter 'titleBn' is set
        if (titleBn == null) {
            throw new ApiException("Missing the required parameter 'titleBn' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        
        // verify the required parameter 'displayOrder' is set
        if (displayOrder == null) {
            throw new ApiException("Missing the required parameter 'displayOrder' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        
        // verify the required parameter 'isDesignation' is set
        if (isDesignation == null) {
            throw new ApiException("Missing the required parameter 'isDesignation' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        
        // verify the required parameter 'status' is set
        if (status == null) {
            throw new ApiException("Missing the required parameter 'status' when calling humanResourcesHumanResourceIdPut(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourcesHumanResourceIdPutCall(humanResourceId, organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId, _callback);
        return localVarCall;

    }

    /**
     * update
     * ###### API endpoint to update an existing organization unit types   A successful request response will show 201 HTTP status code
     * @param humanResourceId  (required)
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourcesHumanResourceIdPut(Integer humanResourceId, Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId) throws ApiException {
        humanResourcesHumanResourceIdPutWithHttpInfo(humanResourceId, organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId);
    }

    /**
     * update
     * ###### API endpoint to update an existing organization unit types   A successful request response will show 201 HTTP status code
     * @param humanResourceId  (required)
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourcesHumanResourceIdPutWithHttpInfo(Integer humanResourceId, Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId) throws ApiException {
        okhttp3.Call localVarCall = humanResourcesHumanResourceIdPutValidateBeforeCall(humanResourceId, organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * update (asynchronously)
     * ###### API endpoint to update an existing organization unit types   A successful request response will show 201 HTTP status code
     * @param humanResourceId  (required)
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> update </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesHumanResourceIdPutAsync(Integer humanResourceId, Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourcesHumanResourceIdPutValidateBeforeCall(humanResourceId, organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for humanResourcesPost
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesPostCall(Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/human-resources";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (humanResourceTemplateId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("human_resource_template_id", humanResourceTemplateId));
        }

        if (organizationId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_id", organizationId));
        }

        if (organizationUnitId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("organization_unit_id", organizationUnitId));
        }

        if (titleEn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_en", titleEn));
        }

        if (titleBn != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("title_bn", titleBn));
        }

        if (parentId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("parent_id", parentId));
        }

        if (rankId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("rank_id", rankId));
        }

        if (displayOrder != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("display_order", displayOrder));
        }

        if (isDesignation != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("is_designation", isDesignation));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call humanResourcesPostValidateBeforeCall(Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'organizationId' is set
        if (organizationId == null) {
            throw new ApiException("Missing the required parameter 'organizationId' when calling humanResourcesPost(Async)");
        }
        
        // verify the required parameter 'organizationUnitId' is set
        if (organizationUnitId == null) {
            throw new ApiException("Missing the required parameter 'organizationUnitId' when calling humanResourcesPost(Async)");
        }
        
        // verify the required parameter 'titleEn' is set
        if (titleEn == null) {
            throw new ApiException("Missing the required parameter 'titleEn' when calling humanResourcesPost(Async)");
        }
        
        // verify the required parameter 'titleBn' is set
        if (titleBn == null) {
            throw new ApiException("Missing the required parameter 'titleBn' when calling humanResourcesPost(Async)");
        }
        
        // verify the required parameter 'displayOrder' is set
        if (displayOrder == null) {
            throw new ApiException("Missing the required parameter 'displayOrder' when calling humanResourcesPost(Async)");
        }
        
        // verify the required parameter 'isDesignation' is set
        if (isDesignation == null) {
            throw new ApiException("Missing the required parameter 'isDesignation' when calling humanResourcesPost(Async)");
        }
        
        // verify the required parameter 'status' is set
        if (status == null) {
            throw new ApiException("Missing the required parameter 'status' when calling humanResourcesPost(Async)");
        }
        

        okhttp3.Call localVarCall = humanResourcesPostCall(organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId, _callback);
        return localVarCall;

    }

    /**
     * create
     * ###### API endpoint to create a organization unit types  A successful request response will show 201 HTTP status code
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public void humanResourcesPost(Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId) throws ApiException {
        humanResourcesPostWithHttpInfo(organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId);
    }

    /**
     * create
     * ###### API endpoint to create a organization unit types  A successful request response will show 201 HTTP status code
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> humanResourcesPostWithHttpInfo(Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId) throws ApiException {
        okhttp3.Call localVarCall = humanResourcesPostValidateBeforeCall(organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * create (asynchronously)
     * ###### API endpoint to create a organization unit types  A successful request response will show 201 HTTP status code
     * @param organizationId  (required)
     * @param organizationUnitId  (required)
     * @param titleEn  (required)
     * @param titleBn  (required)
     * @param displayOrder  (required)
     * @param isDesignation  (required)
     * @param status  (required)
     * @param humanResourceTemplateId  (optional)
     * @param parentId  (optional)
     * @param rankId  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 201 </td><td> create </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call humanResourcesPostAsync(Integer organizationId, Integer organizationUnitId, String titleEn, String titleBn, Integer displayOrder, Integer isDesignation, Integer status, Integer humanResourceTemplateId, Integer parentId, Integer rankId, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = humanResourcesPostValidateBeforeCall(organizationId, organizationUnitId, titleEn, titleBn, displayOrder, isDesignation, status, humanResourceTemplateId, parentId, rankId, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
